<Ui>
  <Frame name="GatherPanel_Settings_FrameTemplate" virtual="true" hidden="true">
    <Attributes>
      <Attribute name="UIPanelLayout-defined" type="boolean" value="true"/>
      <Attribute name="UIPanelLayout-enabled" type="boolean" value="true"/>
      <Attribute name="UIPanelLayout-area" type="string" value="left"/>
      <Attribute name="UIPanelLayout-pushable" type="number" value="5"/>
      <Attribute name="UIPanelLayout-whileDead" type="boolean" value="true"/>
    </Attributes>
    <Size x="330" y="355" />
    <Frames>
      <Button parentKey="DefaultsButton" inherits="UIPanelButtonTemplate">
        <Size x="96" y="22"/>
        <Anchors>
          <Anchor point="TOPRIGHT" x="-36" y="-16"/>
        </Anchors>
      </Button>

			<Frame parentKey="ScrollBox" inherits="WowScrollBox">
        <Anchors>
					<Anchor point="TOPLEFT"  x="0" y="0"/>
					<Anchor point="BOTTOMRIGHT"  x="0" y="0"/>
				</Anchors>
				<Frames>
					<Button parentKey="InputBlocker" clipChildren="true" setAllPoints="true" hidden="true"/>
          <Frame parentKey="PanelOptions">
            <Size x="0" y="240"/>
            <Anchors>
              <Anchor point="TOPLEFT" x="0" y="0" />
              <Anchor point="TOPRIGHT" x="0" y="0" />
            </Anchors>
            <Layers>
              <Layer level="OVERLAY">
                <FontString parentKey="OptionsLabel" text="Panel" inherits="GameFontHighlight">
                  <Anchors>
                    <Anchor point="TOPLEFT" relativeKey="$parent" relativePoint="TOPLEFT" x="16" y="-16" />
                  </Anchors>
                </FontString>
              </Layer>
            </Layers>
            <Frames>
              <CheckButton parentKey="IncludeCurrentCharacterButton" inherits="UICheckButtonTemplate">
                <Anchors>
                  <Anchor point="TOPLEFT" relativeKey="$parent.OptionsLabel" relativePoint="BOTTOMLEFT" x="0" y="-10" />
                </Anchors>
                <Scripts>
                  <OnLoad>
                    self.text:SetText(GATHERPANEL_T["INCLUDE_CURRENT_CHARACTER"]);
                  </OnLoad>
                  <OnClick>
                    PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
                  </OnClick>
                  <OnEnter>
                    GameTooltip:SetOwner(self, "ANCHOR_RIGHT");
                    GameTooltip:AddLine("Include the amount of items available on the current character you are logged into, in addition to the amount of items available on the character who owns the list.", nil, nil, nil, true);
                    GameTooltip:AddLine("If disabled, you will only see the list owner's item count.", 1, 1, 1, true);
                    GameTooltip:Show()
                  </OnEnter>
                  <OnLeave function="GameTooltip_Hide" />
                </Scripts>
              </CheckButton>
              <CheckButton parentKey="ShowOfflineButton" inherits="UICheckButtonTemplate">
                <Anchors>
                  <Anchor point="TOPLEFT" relativeKey="$parent.IncludeCurrentCharacterButton" relativePoint="BOTTOMLEFT" x="0" y="0" />
                </Anchors>
                <Scripts>
                  <OnLoad>
                    self.Text:SetText(GATHERPANEL_T["INCLUDE_ALL_CHARACTERS_FROM_THIS_REALM"]);
                  </OnLoad>
                  <OnClick>
                    PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
                  </OnClick>
                  <OnEnter>
                    GameTooltip:SetOwner(self, "ANCHOR_RIGHT");
                    GameTooltip:AddLine("Sum up every items count across the inventories of your characters.", nil, nil, nil, true);
                    GameTooltip:AddLine("This option does not include the option 'Include Current Character' automatically. If you want to have the current character's inventory included, you have to check this option too.", 1, 1, 1, true);
                    GameTooltip:Show()
                  </OnEnter>
                  <OnLeave function="GameTooltip_Hide" />
                </Scripts>
              </CheckButton>
              <CheckButton parentKey="CumulateLowerQualities" inherits="UICheckButtonTemplate">
                <Anchors>
                  <Anchor point="TOPLEFT" relativeKey="$parent.ShowOfflineButton" relativePoint="BOTTOMLEFT" x="0" y="0" />
                </Anchors>
                <Scripts>
                  <OnLoad>
                    self.Text:SetText(GATHERPANEL_T["CUMULATE_LOWER_QUALITIES"]);
                  </OnLoad>
                  <OnClick>
                    PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
                  </OnClick>
                </Scripts>
              </CheckButton>
              <CheckButton parentKey="ShowObjectiveText" inherits="UICheckButtonTemplate">
                <Anchors>
                  <Anchor point="TOPLEFT" relativeKey="$parent.CumulateLowerQualities" relativePoint="BOTTOMLEFT" x="0" y="0" />
                </Anchors>
                <Scripts>
                  <OnLoad>
                    self.text:SetText(GATHERPANEL_T["SHOW_OBJECTIVE_NOTIFICATION"]);
                  </OnLoad>
                  <OnClick>
                    PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
                  </OnClick>
                  <OnEnter>
                    GameTooltip:SetOwner(self, "ANCHOR_RIGHT");
                    GameTooltip:AddLine("When enabled, there will be a text notification on the center of the screen, just as normal objective updates do.", nil, nil, nil, true);
                    GameTooltip:Show()
                  </OnEnter>
                  <OnLeave function="GameTooltip_Hide" />
                </Scripts>
              </CheckButton>
              <CheckButton parentKey="PlaySounds" inherits="UICheckButtonTemplate">
                <Anchors>
                  <Anchor point="TOPLEFT" relativeKey="$parent.ShowObjectiveText" relativePoint="BOTTOMLEFT" x="0" y="0" />
                </Anchors>
                <Scripts>
                  <OnLoad>
                    self.text:SetText(GATHERPANEL_T["PLAY_SOUNDS"]);
                  </OnLoad>
                  <OnClick>
                    PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
                  </OnClick>
                  <OnEnter>
                    GameTooltip:SetOwner(self, "ANCHOR_RIGHT");
                    GameTooltip:AddLine("Every time you track, untrack or fulfill a goal, a proper little notification sound can be played.", nil, nil, nil, true);
                    GameTooltip:Show()
                  </OnEnter>
                  <OnLeave function="GameTooltip_Hide" />
                </Scripts>
              </CheckButton>
            </Frames>
            <Scripts>
              <OnLoad>
                self.OptionsLabel:SetText(GATHERPANEL_T["GENERAL"]);
              </OnLoad>
            </Scripts>
          </Frame>
          <Frame parentKey="TrackerOptions">
            <Anchors>
              <Anchor point="TOPLEFT" relativeKey="$parent.PanelOptions" relativePoint="BOTTOMLEFT" x="0" y="-20" />
            </Anchors>
            <Size x="330" y="400" />
            <Layers>
              <Layer level="OVERLAY">
                <FontString parentKey="OptionsLabel" text="Tracker" inherits="GameFontHighlight">
                  <Anchors>
                    <Anchor point="TOPLEFT" relativeKey="$parent" relativePoint="TOPLEFT" x="16" y="-16" />
                  </Anchors>
                </FontString>
              </Layer>
            </Layers>
            <Frames>
              <CheckButton parentKey="ShowTrackerButton" inherits="UICheckButtonTemplate">
                <Anchors>
                  <Anchor point="TOPLEFT" relativeKey="$parent.OptionsLabel" relativePoint="BOTTOMLEFT" x="0" y="-10" />
                </Anchors>
                <Scripts>
                  <OnLoad>
                    self.text:SetText(GATHERPANEL_T["SHOW_TRACKER_OVERLAY"]);
                  </OnLoad>
                  <OnClick>
                    PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
                  </OnClick>
                </Scripts>
              </CheckButton>
              <CheckButton parentKey="ShowObjectiveTrackerButton" inherits="UICheckButtonTemplate">
                <Anchors>
                  <Anchor point="TOPLEFT" relativeKey="$parent.ShowTrackerButton" relativePoint="BOTTOMLEFT" x="0" y="0" />
                </Anchors>
                <Scripts>
                  <OnLoad>
                    self.text:SetText(GATHERPANEL_T["SHOW_OBJECTIVE_TRACKER"]);
                  </OnLoad>
                  <OnClick>
                    PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
                  </OnClick>
                </Scripts>
              </CheckButton>
              <CheckButton parentKey="ShowCompletedButton" inherits="UICheckButtonTemplate">
                <Anchors>
                  <Anchor point="TOPLEFT" relativeKey="$parent.ShowObjectiveTrackerButton" relativePoint="BOTTOMLEFT" x="0" y="0" />
                </Anchors>
                <Scripts>
                  <OnLoad>
                    self.text:SetText(GATHERPANEL_T["SHOW_COMPLETED"]);
                  </OnLoad>
                  <OnClick>
                    PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
                  </OnClick>
                  <OnEnter>
                    GameTooltip:SetOwner(self, "ANCHOR_RIGHT");
                    GameTooltip:AddLine(GATHERPANEL_T["SHOW_COMPLETED_DESCRIPTION"], nil, nil, nil, true);
                    GameTooltip:Show()
                  </OnEnter>
                  <OnLeave function="GameTooltip_Hide" />
                </Scripts>
              </CheckButton>
            </Frames>
            <Scripts>
              <OnLoad>
                self.OptionsLabel:SetText(GATHERPANEL_T["TRACKER"]);
              </OnLoad>
            </Scripts>
          </Frame>
				</Frames>
			</Frame>
			<EventFrame parentKey="ScrollBar" inherits="MinimalScrollBar">
				<Anchors>
					<Anchor point="TOPLEFT" relativeKey="$parent.ScrollBox" relativePoint="TOPRIGHT" x="0" y="-4"/>
					<Anchor point="BOTTOMLEFT" relativeKey="$parent.ScrollBox" relativePoint="BOTTOMRIGHT" x="-1" y="-3"/>
				</Anchors>
			</EventFrame>
    </Frames>
  </Frame>
  <Script file="Settings.lua"/>
</Ui>
